<div class="col-md-8 mt-3">
  <div class="">
    <% if @user.cover_image.attached? %>
      <%= image_tag @user.cover_image, class: 'b_image w-100' %>
    <% else %>
      <%= link_to image_tag('background_image', alt: 'Cover image', class: 'b_image w-100') %>
    <% end %>
    <%= render 'user_reviews'%>
  </div>
</div>
