<div class="d-flex justify-content-between border">
  <div class="d-flex f_dir_col border">
    <div class="mx-auto"><%= @user.opinions.count %></div>
    <div class="color">Reviews</div>
  </div>
  <div class="d-flex f_dir_col border">
    <div class="mx-auto"><%= @user.following.count %></div>
    <div class="color"> Following</div>
  </div>
  <div class="d-flex f_dir_col border">
    <div class="mx-auto"><%= @user.followers.count %></div>
    <div class="color"> Followers</div>
  </div>
</div>