<div class="col-md-4 mt-2">
  <div class="w-50 mx-auto d-flex f_dir_col">
    <div class="mx-auto mt-4">
     <%= photo_image(@user)%>
    </div>
    <div class="mx-auto">
      <%= @user.full_name %>
    </div>
     <div class="mx-auto">
      <%= render 'shared/follow_form'%>
    </div>
  <div>
</div>