<div class="color">
  <% if @user.images.attached? %>
    <%= image_tag @user.images[0], class: 'p_image m' %>
  <% end %>
  <%= @user.full_name%>
  </div>
  <div class="d home s_btw">
    <div class="f-1 d f_dir_col">
      <div class="f-count">128</div>
      <div class="follow color">Following</div>
    </div>
    <div class="f-1 d f_dir_col">
      <div class="f-count">128</div>
      <div class="follow color">Followers</div>
    </div>
  </div>
  <div class="home">
    <i class="fas fa-home color"></i>
    <span class="color"><%= link_to 'Home', root_path, color: 'color'%> </span>
  </div>
  <div class="home">
    <i class="fas fa-user-alt color"></i>
    <span class="color">Profile</span>
  </div>
