<li class="m name">
  <% if !@current_user.following?(user) %>
    <% if user != current_user %>
      <div class="d-flex">
        <div>
        <% if user.photo.attached? %>
          <%= image_tag user.photo, class: 'image_follow' %>
        <% else %>
          <%= link_to image_tag('profile_image', alt: 'Profile_picture', class: 'image_follow') %>
        <% end %>
        </div>
        <div class="">
          <%= link_to "#{user.full_name}", user_path(user),
                                           class: 'review_content name font-weight-light'%>
        </div>
      </div>
    <%end%>
  <% end %>
</li>
