     <ul>
    <li class="color">
      <%= @user.full_name%>
    </li>  
      </ul>
  <div class="d home">
    <div class="f-1 d-flex">
      <div class="f-count">128</div>
      <div class="follow color">Following</div>
    </div>
    <div class="f-1 d-flex">
      <div class="f-count">128</div>
      <div class="follow color">Followers</div>
    </div>
  </div>
  <div class="home">
    <i class="fas fa-home color"></i>
    <span class="color">Home</span>
  </div>
  <div class="home">
    <i class="fas fa-user-alt color"></i>
    <span class="color">Profile</span>
  </div>
