  <div class="row">
    <div class="col-md-3 left-part">
    <div class="sticky d-flex flex-column">
      <%= render 'user_side'%>
    </div>
    </div>
    <div class="col-md-9 mid-part">
      <div class="d s_btw">
        <div class="tweet">
          <i class="fab fa-twitter color"></i>
        </div>
        <div>
          <%= link_to 'Logout', :destroy_user_session, method: :delete %>
        </div>
      </div>
      <div class="row">
        <%= render 'reviews'%>
        <%= render 'who_to_follow'%>
      </div>
    </div>
  </div>
