<% if @opinion.errors.any? %>
  <div class="error_explanation">
  <div class="alert alert-danger">
    The form contains <%= pluralize(@opinion.errors.count, "error") %>.
  </div>
  <ul>
  <% @opinion.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
  <% end %>
  </ul>
  </div>
<% end %>